/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html {
    font-family: 'Open Sans', sans-serif;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

.h-col li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 2em;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.banner i:hover {
    color: blue;
}

/* UTILITY */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.float-l {
    float:left;
}

.btn {
    display: inline-block;
    line-height: normal;
}

.btn-blue {
    padding: .5em 1em;
    font-weight: normal;
    color: white;
    background-color: #0061ff;
}

/* HEADER */
.header {
    width: 100%;
    height: 80px;
    color: #434343;
}

.logo {
    width: 100%;
    vertical-align: middle;
}

.h-col {
    width: 50%;
    line-height: 80px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

/* BANNER */
.banner {
    width: 100%;
    height: 700px;
    padding: 6em 0;
    background-color: lightskyblue;
}

.b-general-container {
    width: 80%;
    margin: 0 auto 2em auto;
}

.banner-title {
    padding-right: 10em;
    margin-bottom: 2em;
}

.banner-title h1 {
    font-size: 4em;
}

.banner-text {
    width: 30%;
}

.banner-text p {
    margin-bottom: 1.5em;
}

.banner-text a {
    margin-bottom: .8em;
}

.banner-text .icon-container i {
    margin-top: 1em;
    font-size: 3em;
}

.banner-img {
    width: 70%;
}