/*  BACKGROUND-COLORS_LOGOS
        #a2d39b;
        #61082b;
        #0093ce;
        #ff1c1c;
        #d5001f;
        #b4d0e7;
        #0d2481;
        #ffd830;
    BACKGROUND-COLORS_LOGOS
*/

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html {
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: bold; /* UTILIZZATA SOLO PER I LINK NON .BTN */
}

a:hover {
    text-decoration: underline;
}

main h2 {
    margin-bottom: 1.5em;
    font-size: 2.5em;
}

main h3 {
    font-size: 1.5em;
    margin-bottom: 1.5em;
}

.reverse-hover {
    display: inline-block;
    color: #0966ff;
    text-decoration: underline;
}

.reverse-hover:hover {
    text-decoration: none;
}

/* UTILITY */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.float-l {
    float:left;
}

.btn {
    display: inline-block;
    line-height: normal;
}

.btn-block {
    display: block;
    text-align: center;
    font-size: .9em;
}

.btn-blue {
    color: white;
    background-color: #0061ff;
}

.btn-structure {
    padding: .5em 1em;
    font-weight: normal;
}

/* HEADER */
.header {
    width: 100%;
    color: #434343;
}

.logo {
    width: 100%;
    vertical-align: middle;
}

.h-col {
    width: 50%;
    line-height: 80px;
}

.h-col li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 2em;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

/* BANNER */
.banner {
    width: 100%;
    padding: 5em 0;
    background-color: #b4d0e7;
}

.b-general-container {
    width: 80%;
    margin: 0 auto;
}

.banner-title {
    padding-right: 10em;
    margin-bottom: 2em;
}

.banner-title h1 {
    font-size: 4em;
}

.banner-text {
    width: 30%;
}

.banner-text p,
.banner-text span {
    font-size: .9em;
    font-weight: bold;
}

.banner-text p {
    margin-bottom: 1.5em;
}

.banner-text a {
    margin-bottom: .8em;
}

.banner i:hover {
    color: blue;
}

.banner .clearfix {
    margin-bottom: -170px;
}

.banner-text .icon-container i {
    margin-top: 1em;
    font-size: 3em;
}

.banner-img {
    width: 70%;
}

/* MAIN */
.main-content {
    width: 65%;
    margin: 13em auto;
    /* TEST */
    /* background-color: red; */
    /* height: 3000px; */
}

.dropbox-plans {
    margin-bottom: 10em;
}

.dropbox-plans .col {
    width: calc((100% - 160px) / 3);
    margin-bottom: 2.5em;
    /* TEST */
    /* background-color: orange; */
}

.dropbox-plans .col.center {
    margin: 0 80px;
}

.radio-btns {
    margin-bottom: 1.5em;
}

.options-container {
    display: inline-block;
}

.annual {
    margin-left: 1em;
}

.radio-btns label {
    font-weight: bold;
}

.col-head,
.f-head {
    width: 100%;
    height: 40px;
    border: 1px solid black;
    text-align: center;
    line-height: 40px;
    /* TEST
    background-color: green; */
}

.col-body {
    width: 100%;
    min-height: 800px;
    padding: 2em 0;
    border-top: 0;
    border-right: 1px;
    border-bottom: 1px;
    border-left: 1px;
    border-style: solid;
    border-color: black;
}

.product-container {
    width: 80%;
    margin: 0 auto;
}

.product-options {
    margin-bottom: 2.5em;
}

.product-options strong {
    display: block;
    margin-bottom: 1.5em;
}

.product-options span {
    font-size: .8em;
    color: #84919c;
}


.features-list {
    font-size: .7em;
    margin-bottom: 3em;
}

.features-list li {
    margin-bottom: 1.5em;
}

.features-list i {
    margin-right: .2em;
}

.features-list li:first-child i {
    color: #0061ff;
}

.dropbox-plans .col-body .btn-container {
    margin-bottom: 2.5em;
}

.col-body .btn-container .btn-block {
    margin-bottom: 1.5em;
}

.col-body .btn-container > span {
    font-size: .7em;
}

.col-body .btn-container > span a {
    margin-left: .3em;
}

.product-container hr {
    width: 15%;
}

.highlights {
    margin-top: 2.5em;
}

.highlights h4 {
    font-size: .9em;
}

.highlights li {
    margin: 1.5em 0;
    font-size: .7em;
}

.highlights li i {
    color: #0061ff;
}

.dropbox-plans_footer {
    width: 100%;
}

.f-body {
    padding: 3%;
    border-top: 0;
    border-right: 1px;
    border-bottom: 1px;
    border-left: 1px;
    border-style: solid;
    border-color: black;

}

.f-body .sub-col-left {
    width: 65%;
}

.f-body .sub-col-right {
    width: 35%;
}

.sub-col-left h3 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.sub-col-left h4 {
    margin-bottom: 2em;
}

.sub-col-left p {
    font-size: .7em;
}

.partners-container {
    margin-bottom: 5em;
}

.column-img,
.column-text {
    width: 50%;
}

.column-text {
    padding: 2em;
}

.column-text p {
    margin-bottom: 1.5em;
}

.btn-border {
    border: 2px solid black;
    background-color: whitesmoke;
}

.dropbox-operations .row {
    margin-bottom: 5em;
}

.dropbox-operations a {
    color: inherit;
    font-weight: normal;
}

.dropbox-operations a:hover {
    color: #0966ff;
}

.row .op-col:nth-child(2) {
    margin: 0 3%;
}

.row .op-col {
    width: calc(94%/3)
}

.row-text p span {
    text-decoration: underline;
}

.reviews .title {
    width: 65%;
    margin: 0 auto 4em auto;
    padding-right: 28%;
}

.reviews-col {
    width: 30%;
    /* TEST */
    background-color: green;
    height: 400px;
}

.reviews-col-center {
    width: 40%;
    padding: 3em;
    overflow: scroll;
    /* TEST */
    height: 400px;
    background-color: #f5f5f5;
}

.logos-row {
    height: 50%;
}

.logos-col {
    position: relative;
    width: 50%;
    height: 100%;
    /* TEST */
    background-color: brown;
}

.img-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    margin: 0 auto;
    vertical-align: middle;
}

.img-box img {
    filter: invert(100);
}

.bg-green {
    background-color: #a2d39b;
    border: 10px solid #daeed9;
}

.bg-brown {
    background-color: #61082b;
}

.bg-azure {
    background-color: #0093ce;
}

.bg-red {
    background-color: #ff1c1c;
}

.bg-crimson {
    background-color: #d5001f;
}

.bg-turquoise {
    background-color: #b4d0e7;
}

.bg-blue {
    background-color: #0d2481;
}

.bg-yellow {
    background-color: #ffd830;
}

.company-reviews {
    margin-bottom: 2em;
}

.reviews-col-center .img-cont {
    display: inline-block;
    width: 30%;
    margin-bottom: 2em;
}

hr {
    width: 10%;
}

.reviews-col-center .text-cont p {
    margin: 2em 0;
}

.free-trial {
    padding: 8em 0;
    background-color: #b4d0e7;
}

.free-trial .center {
    width: 65%;
    margin: 0 auto;
}

.large-col {
    width: 70%;
    padding-right: 10em;
    color: #752457;
}

.small-col {
    width: 30%;
    background-color: white;
}

.large-col h2 {
    margin-bottom: 0;
}

.main-questions {
    padding: 8em 0;
}

.main-questions .title{
    margin-bottom: 3.5em;
}

.questions-container {
    width: 65%;
    margin: 0 auto;
}

.questions-list li {
    position: relative;
    padding: 2em 0;
    border-top: 1px solid black;
}

.questions-list li .icon-container {
    position: absolute;
    top: 2em;
    right: 1em;
}

.questions-list li:last-child {
    border-bottom: 1px solid black;
}

.questions-list .answer {
    margin-top: 2em;
    display: none;
}

.questions-list li:hover .answer {
    display: inline-block;
}

.footer {
    padding: 7em 0 2em 0;
    background-color: #000000;
}

.footer-contents {
    width: 80%;
    margin: 0 auto;
}

.footer-lists {
    margin-bottom: 10em;
}

.footer-lists ul {
    display: inline-block;
    margin: 0 2.5em;
    vertical-align: top;
}

.footer-lists ul:first-child {
    margin-left: 0;
}

.footer-lists ul:last-child {
    margin-right: 0;
}

.footer-lists li {
    margin-bottom: 1em;
    color: white;
}

.footer-lists .list-title {
    margin-bottom: 1.5em;
}

.list-title h4 {
    font-size: 1.3em;
}

.footer-lists a {
    font-weight: 450;
}

.language-contents {
    margin: 2.5em 0;
    color: grey;
}